body{
  background: transparent url('../img/slivka-wallpaper.jpg') repeat-y top center;
  background-clip: border-box;
}

.content{
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
     -webkit-box-shadow: 7px 7px 10px rgba(50, 50, 50, 1);
        -moz-box-shadow: 7px 7px 10px rgba(50, 50, 50, 1);
             box-shadow: 7px 7px 10px rgba(50, 50, 50, 1);
}

.col{
  padding: 10px 20px;
}

@media (max-width: 767px){
	/*.navbar-inner, body{
		padding-left: 10px;
		padding-right: 10px;
	}

  .col{
    padding: 10px;
  }*/
}