table.dataTable td{
	padding: 0;
  text-align: center;
  border-top: 1px solid gray;
}
table.dataTable .name{
  text-align: left;
}
.odd{
  background-color: #F9F9F9;
}
.col{
  font-size: 10px;
  line-height: 14px;
  margin: 0 10px;
}
.nolabel{
  color: #FFFFFF;
}
.header-row{
  font-weight: bold;
  padding-left: 122px; /*193*/
  list-style: none;
  margin-top: 85px;
  padding-top: 0;
  position: relative;
  display: block;
}
.header-row li{
  text-align: left;
  float: left;
  width: 16px; /*42*/
  display: block;
  position: relative;
  -webkit-transform: rotate(-55deg) translate(-10px,10px);
     -moz-transform: rotate(-55deg) translate(-10px,10px);
          transform: rotate(-55deg) translate(-10px,10px);
  white-space: nowrap;
  cursor: pointer;
}

.red{
  background-color: #FF8F8F;
}
.green{
  background-color: #00D10E;
}
.blue{
  background-color: #99CCFF;
}
.gold{
  background-color: #FFCC66;
}