table.dataTable td{
	padding: 0;
  text-align: center;
  border-top: 1px solid gray;
}
table.dataTable .name{
  text-align: left;
}

.col{
  font-size: 10px;
  line-height: 14px;
  margin: 0 10px;
}
.nolabel{
  color: #000000;
}
.header-row{
  font-weight: bold;
  padding-left: 122px; /*193*/
  list-style: none;
  margin-top: 85px;
  padding-top: 0;
  position: relative;
  display: block;
}
.header-row li{
  text-align: left;
  float: left;
  width: 16px; /*42*/
  display: block;
  position: relative;
  -webkit-transform: rotate(-55deg); /*-10, 10 */
     -moz-transform: rotate(-55deg);
      -ms-transform: rotate(-55deg);
       -o-transform: rotate(-55deg);
          transform: rotate(-55deg);
  white-space: nowrap;
  cursor: pointer;
}

tr.even{ background-color: #FFFFFE; }
tr.odd { background-color: #F9F9F9; }

tr.even td.sorting_1 { background-color: #EFEFEF; }
tr.odd  td.sorting_1 { background-color: #D0D0D0; }

tr.even td.red { background-color: #FFA1A1; }
tr.odd  td.red { background-color: #FF8F8F; }

tr.even td.red.sorting_1 { background-color: #FF7070; }
tr.odd  td.red.sorting_1 { background-color: #FF5050; }

tr.even td.green { background-color: #00D10E; }
tr.odd  td.green { background-color: #00BF0D; }

tr.even td.green.sorting_1 { background-color: #00B30C; }
tr.odd  td.green.sorting_1 { background-color: #00A30B; }

tr.even td.blue { background-color: #99CCFF; }
tr.odd  td.blue { background-color: #80BFFF; }

tr.even td.blue.sorting_1 { background-color: #82BBFF; }
tr.odd  td.blue.sorting_1 { background-color: #409FFF; }

tr.even td.gold, tr.even td.gold.sorting_1, tr.odd td.gold, tr.odd td.gold.sorting_1 { background-color: #FFCC66; }

.sorting_asc {
  background: url('../DataTables/media/images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
  background: url('../DataTables/media/images/sort_desc.png') no-repeat center center;
}

.sorting {
  background: url('../DataTables/media/images/sort_both.png') no-repeat center center;
}

th.name.sorting_asc, th.name.sorting_desc, th.name.sorting {
  background-position: right;
}
 
th:active {
  outline: none;
}
th:hover {
  cursor: pointer;
}