$red: #ffa1a1;
$green: #00d10e;
$blue: #9cf;
$yellow: #fffa00;
$gold: #fc6;

$white: #fff;
$gray-light: #f0f0f0;
$gray: #808080;
$black: #000;

.points-table-info {
  margin-bottom: 0;
  padding: 15.5px 15px;
}

.points-table-controls .legend {
  color: $black;
  border-collapse: separate;
  border-spacing: 3px;
}

.points-table-controls .legend td {
  padding: 5px;
  border-radius: 5px;
}

.points-table-controls .form-group {
  margin-right: 10px;
  display: inline-block;
}

.points-table-wrapper {
  overflow-x: scroll;
  padding-bottom: 15px;
}

.points-table {
  table-layout: fixed;
  margin-top: 190px;

  td {
    padding: 0;
    text-align: center;
    border-left: 1px solid $gray;

    &.name {
      width: 171px;
      position: relative;
      margin-left: 0;
      text-align: left;
      padding-left: 5px;
    }
  }
}

.points-table th {
  position: relative;
  height: 14px;
  padding: 0;
  font-weight: normal;
  line-height: 0.8;
}

.points-table .gender {
  display: none;
}

.points-table th.name {
  width: 170px;
  min-width: 170px;
  max-width: 170px;

  position: relative;
  margin-left: 0;
  padding: 0;
  background-color: $white;
  z-index: 1;
}

.points-table th.name > div {
  display: none;
  position: absolute;
  bottom: 12px;
  width: 100%;
  height: 192px;
  background-color: $white;
}

.points-table th.name > div > div {
  height: 100%;
  background-color: $white;
  transform: skew(-30deg, 0deg) translateX(55px);
}

.points-table th.name span {
  position: absolute;
  bottom: 0;
  width: 164px;
  height: 14px;
  padding-left: 5px;
  border-left: 1px solid $gray;
  background-position: right !important;
}

.points-table th .slanted {
  position: absolute;
  bottom: 14px;
  left: 55px;
  width: 20px;
  height: 190px;
  border-left: 1px solid $gray;
  transform: skew(-30deg, 0deg);
}

.points-table th .slanted span {
  width: 85px;
  position: absolute;
  left: -33px;
  bottom: 35px;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  transform: skew(30deg, 0deg) rotate(-60deg);
}

.sort-icon {
  position: absolute;
  width: 100%;
  height: 14px;
  bottom: 0;
  padding: 0;
  border-left: 1px solid $gray;
}

.points-table th.event {
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}

.points-table th.total {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
}

.points-table th.total span {
  left: -29px;
}

.points-table th.end {
  width: 36px;
  min-width: 36px;
  max-width: 36px;
}

.points-table th.end .sort-icon {
  background-image: none !important;
}

.points-table {
  tr.even td {
    background-color: $red;

    &.sorting_1 {
      background-color: darken($red, 9.6);
    }

    &.name,
    &.totals,
    &.white {
      background-color: $white;

      &.sorting_1 {
        background-color: darken($white, 6.3);
      }
    }

    &.green {
      background-color: $green;

      &.sorting_1 {
        background-color: darken($green, 5.9);
      }
    }

    &.blue {
      background-color: $blue;

      &.sorting_1 {
        background-color: darken(adjust-hue($blue, 2.6), 4.5);
      }
    }

    &.yellow {
      background-color: $yellow;

      &.sorting_1 {
        background-color: adjust-hue($yellow, -3.8);
      }
    }
  }

  tr.odd td {
    background-color: darken($red, 3.5);

    &.sorting_1 {
      background-color: darken($red, 15.9);
    }

    &.name,
    &.totals,
    &.white {
      background-color: $gray-light;

      &.sorting_1 {
        background-color: darken($gray-light, 12.5);
      }
    }

    &.green {
      background-color: darken($green, 3.5);

      &.sorting_1 {
        background-color: darken($green, 9);
      }
    }

    &.blue {
      background-color: darken($blue, 5);

      &.sorting_1 {
        background-color: darken(adjust-hue($blue, 0.16), 17.5);
      }
    }

    &.yellow {
      background-color: adjust-hue($yellow, -4.9);

      &.sorting_1 {
        background-color: adjust-hue($yellow, -8.7);
      }
    }
  }

  td.end {
    background-color: $white;
  }

  .sort-icon,
  .name span {
    background: url('data:image/gif;base64,R0lGODlhBwAJAIAAACMtMP///yH5BAEAAAEALAAAAAAHAAkAAAINjGEJq8sOk4Qu0IZmKgA7') no-repeat center;
  }

  .sorting_asc {
    .sort-icon,
    span {
      background-image: url('data:image/gif;base64,R0lGODlhBwAEAIAAACMtMP///yH5BAEAAAEALAAAAAAHAAQAAAIHjGEJq8sOCwA7');
    }
  }

  .sorting_desc {
    .sort-icon,
    span {
      background-image: url('data:image/gif;base64,R0lGODlhBwAEAIAAACMtMP///yH5BAEAAAEALAAAAAAHAAQAAAIIhA+BGWoNWSgAOw==');
    }
  }
}

.gold {
  background-color: $gold !important;
}

.points-table th:active {
  outline: none;
}

.points-table th:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .points-table {
    margin-left: 170px;

    th.name,
    td.name {
      position: absolute;
      margin-left: -171px;

      > div {
        display: block;
      }
    }
  }
}
