.DS_Store
.htaccess
img/slivkans/*
pointscenter.appcache

ajax/datastoreVars.php
ajax/log.txt
ajax/tmp.php

**.sql

ajax/sendPointsCorrection.php
pointsCenter.built.js
css/pointsCenter.built.css
css/pointsCenter.built.min.css
bower_components
node_modules
